.popular-book-container {
  display: flex;
  gap: 1em;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.popular-book-container::-webkit-scrollbar {
  display: none;
}
