.page {
    background: linear-gradient(to bottom left,#15202B, #535C66);
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.logo{
    width: 350px;
    margin: 10px;
}

.textH3{
    color: white;
    font-size: 48px;
    font-weight: 500;
}

.textH4 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}

.input{
    width: 630px;
    height: 65px;
}

.passwordInput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    margin: 10px;
    margin-left: -43px;
}

.label {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-self: center;
}

.button{
    width: 315px;
    height: 65px;
}