.landing-book__row {
    display: flex;
    gap: 1rem;
}

.landing-ibook__abook {
    padding-top: 58px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 58px;
    background-image: linear-gradient(0deg, #15202B, #15202B);
}

.landing-ibook__abook-images {
    width: 300px;
    height: 400px;
    
}

.landing-ibook__container-abook {
    gap: 16px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
}

.landing-ibook__abook-subheading {
    width: 100%;
    height: auto;
}

.landing-ibook__desc-abook {
    width: auto;
    height: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
}

.landing-ibook__button-abook {
    padding: 10px 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    background-color: rgb(16, 138, 220);
    color: #fff;
    letter-spacing: 1px;
}