.updateBook-page {
    background-color: #15202B;
    height: max-content;
}

.updateBook-text {
    color: white;
    margin-top: 33px;
    margin-left: 25px;
    font-size: 40px;
}

.updateBook-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.updateBook-containerColumn {
    flex: 50%;
    padding-left: 30px;
    padding-right: 20px;
}

.updateBook-upper {
    align-self: flex-start;
}

.updateBook-center {
    display: flex;
    align-items: center;
}

.updateBook-input {
    width: 550px;
    color: #15202B;
    margin-left: 10px;
    ;
}

.updateBook-label {
    color: white;
    font-size: 25px;
    flex: 50%;
}

.updateBook-row {
    display: flex;
    flex-direction: row;
}

.updateBook-inputTextArea {
    width: 550px;
    color: #15202B;
}

.updateBook-image {
    width: 200px;
    align-self: center;
    margin: 10px;
    border-radius: 10px;
}

.updateBook-containerImage {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.updateBook-inputFile {
    width: 550px;
    height: 40px;
}

.updateBook-button {
    width: 163px;
}

.updateBook-buttonContainer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

@media (max-width: 850px) {
    .updateBook-image {
        width: 250px;
    }

    .updateBook-page {
        height: max-content;
    }

    .updateBook-inputTextArea {
        color: #15202B;
        margin-left: 10px;
    }

    .updateBook-input {
        color: #15202B;
    }

    .updateBook-inputFile {
        height: 40px;
    }

    .updateBook-label {
        color: white;
        font-size: 16px;
        flex: 50%;
    }

    .updateBook-button {
        width: 84px;
    }

    .updateBook-text {
        color: white;
        margin-top: 33px;
        margin-left: 25px;
        font-size: 20px;
    }

    .updateBook-containerColumn {
        padding-left: 30px;
        padding-right: 20px;
        margin-top: 10px;
    }

    .updateBook-container {
        display: flex;
        flex-direction: column;
        margin: 24px;
    }

    .updateBook-row {
        display: flex;
        flex-direction: column;
    }

    .updateBook-upper {
        align-self: center;
    }

}

@media (max-width: 600px) {
    .updateBook-image {
        width: 200px;
    }

    .updateBook-page {
        height: max-content;
    }

    .updateBook-inputTextArea {
        width: 300px;
        color: #15202B;
        margin-left: 10px;
    }

    .updateBook-input {
        width: 300px;
        color: #15202B;
    }

    .updateBook-inputFile {
        width: 300px;
        height: 40px;
    }

    .updateBook-label {
        color: white;
        font-size: 16px;
        flex: 50%;
    }

    .updateBook-button {
        width: 84px;
    }

    .updateBook-text {
        color: white;
        margin-top: 33px;
        margin-left: 25px;
        font-size: 20px;
    }

    .updateBook-containerColumn {
        padding-left: 30px;
        padding-right: 20px;
        margin-top: 10px;
    }

    .updateBook-container {
        display: flex;
        flex-direction: column;
        margin: 24px;
    }

    .updateBook-row {
        display: flex;
        flex-direction: column;
    }

    .updateBook-upper {
        align-self: center;
    }

}

@media (max-width: 350px) {
    .updateBook-image {
        width: 100px;
    }

    .updateBook-page {
        height: max-content;
    }

    .updateBook-inputTextArea {
        width: 190px;
        color: #15202B;
        margin-left: 10px;
    }

    .updateBook-input {
        width: 190px;
        color: #15202B;
    }

    .updateBook-inputFile {
        width: 190px;
        height: 40px;
    }

    .updateBook-label {
        color: white;
        font-size: 14px;
        flex: 50%;
    }

    .updateBook-button {
        width: 80px;
    }

    .updateBook-text {
        color: white;
        margin-top: 33px;
        margin-left: 25px;
        font-size: 15px;
    }

    .updateBook-containerColumn {
        padding-left: 30px;
        padding-right: 20px;
        margin-top: 10px;
    }

    .updateBook-container {
        display: flex;
        flex-direction: column;
        margin: 24px;
    }

    .updateBook-row {
        display: flex;
        flex-direction: column;
    }

    .updateBook-upper {
        align-self: center;
    }

}