.categories-page__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 2em;
}

.categories-page__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 3em auto;
  gap: 2em;
  justify-content: center;
}
