@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {

  background-color: #38444D;
  border: 1px solid rgba(83, 92, 102, 0.6);
}

html::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: linear-gradient(0deg, #15202B, #15202B);
  ;
}