/* Style untuk judul h1 */
.h1 {
  color: white;
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.h1 span {
  color: #3498db;
}

/* Style untuk deskripsi */
.about-us__title {
  text-align: left;
  color: white;
  margin: 1em 0;
}

.about-us__title span {
  color: #3498db;
}

.description-1 {
  margin-bottom: 30px;
}

.description-1 p {
  font-size: 18px;
  line-height: 1.5;
  color: white;
}

.description-p {
  margin-top: 6rem;
  color: white;
}

/* Style untuk logo */
.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about-logo {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

/* Style untuk anggota tim */
.member-row {
  margin-top: 50px;
}

.about-row {
  margin-top: 50px;
}

.about-member1 img,
.about-member2 img,
.about-member3 img,
.about-member4 img,
.about-member5 img,
.about-member6 img,
.about-member7 img {
  display: block;
  margin: 3rem 2rem 2rem 2rem;
  max-width: 90%;
  border-radius: 100%;
  box-shadow: 0px 0px 10px #ffffff;
}

.about-member1,
.about-member2,
.about-member3,
.about-member4,
.about-member5,
.about-member6,
.about-member7 {
  text-align: center;
}

.about-member1 h2,
.about-member2 h2,
.about-member3 h2,
.about-member4 h2,
.about-member5 h2,
.about-member6 h2,
.about-member7 h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #ffffff;
}

.about-member1 h4,
.about-member2 h4,
.about-member3 h4,
.about-member4 h4,
.about-member5 h4,
.about-member6 h4,
.about-member7 h4 {
  margin-bottom: 20px;
  color: #3498db;
  font-size: 16px;
}

.about-member1 p,
.about-member2 p,
.about-member3 p,
.about-member4 p,
.about-member5 p,
.about-member6 p,
.about-member7 p {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.about-member1,
.about-member2,
.about-member3,
.about-member4,
.about-member5,
.about-member6,
.about-member7 {
  transition: transform 0.3s ease-in-out;
}

.about-member1:hover,
.about-member2:hover,
.about-member3:hover,
.about-member4:hover,
.about-member5:hover,
.about-member6:hover,
.about-member7:hover {
  transform: scale(1.05);
}

.container-logo {
  transition: transform 0.3s ease-in-out;
}

.container-logo :hover {
  transform: scale(1.05);
}

.about-us__member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us__member-image {
  width: 270px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us__member-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
}

.about-us__member-image img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 12px 1px rgb(78, 78, 78);
}

.about-us__member-name {
  text-align: center;
}

.about-us__member-name h4 {
  color: var(--fontColorPrimary);
}

.about-us__member-name p {
  color: var(--Primary);
}

.about-us__member-info {
  color: var(--fontColorPrimary);
  height: 100%;
  margin: 0 1em;
}

.about-us__member {
  width: 100%;
  height: 100%;
  margin: 2em auto;
}

.about-us__member-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 3em auto;
  gap: 2em;
  justify-content: center;
}
